---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/base.css';
interface Props {
	title?: string;
	description?: string;
	url?: string;
	image?: string;
}

const { 
	title="ARTIJO • BLOG - บันทึกของไอ้อาร์ต",
	description="บันทึกเรื่องราว เทคโนโลยี ชีวิตประจำวัน บ่นไปเรื่อย หรือบันทึกที่อยากบันทึก ตามอารมณ์ของไอ้อาร์ต",
	url="https://blog.artijo.com",
	image="https://r2.artijo.com/2023/06/Cover-Social.webp"
 } = Astro.props;
---

<!doctype html>
<html lang="th">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="stylesheet" href="/fonts/LineSeed/font.css">
		<link rel="stylesheet" href="/fonts/chulabhornlikit/font.css">
		<script src="/js/instant.js" type="module" lang="js" defer></script>
		<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "51cf8f0dbaf24352b7c100ce69ec7414"}'></script>
		<script lang="js" src="/js/nav.js"></script>
		<meta name="robots" content="noarchive,max-snippet:-1,max-image-preview:large,max-video-preview:-1">
		<meta name="description" content="บันทึกเรื่องราว เทคโนโลยี ชีวิตประจำวัน บ่นไปเรื่อย หรือบันทึกที่อยากบันทึก ตามอารมณ์ของไอ้อาร์ต">
		<meta name="theme-color" content="#235b95">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="th_TH">
		<meta property="og:site_name" content="ARTIJO • BLOG">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={url}>
		<meta property="og:image" content={image}>
		<meta property="og:image:width" content="1920">
		<meta property="og:image:height" content="1080">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@artijo_">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>
		<meta name="google-site-verification" content="3EHPc2mN0TiOKbyCWqJiXQDwuuhQchyiT-OMceoKRng">
	</head>
	<body class="min-h-screen bg-slate-100 dark:bg-slate-950 antialiased relative">
		<Header /> 
		<main class="lg:pt-[100px] pt-[90px] md:pt-[120px] sm:px-[16px] pb-[125px] sm:pb-[90px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<!-- <style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	body {
  font-family: 'chulabhornlikit', sans-serif;
}
 
h1, h2, h3, h4, h5, h6 {
	font-family: 'lineseed', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1.25rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  margin-bottom: 1.5rem;
}
blockquote {
  font-weight: 700;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

figure {
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}
figcaption {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

iframe {
  width: 100%;
  border: none;
  overflow-wrap: break-word;
  width: 100%;
}

em {
  font-weight: 700;
  overflow-wrap: break-word;
  width: 100%;
}

cite {
  font-weight: 700;
  overflow-wrap: break-word;
  width: 100%;
}
svg {
	fill: currentColor;
}
	@media (max-width: 767px) {
  .nav-open #nav {
    max-height: 100vh;
  }
  .nav-open .i-close {
    opacity: 1;
  }
  .nav-open .i-open {
    opacity: 0;
  }
}
</style> -->