---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/base.css';
interface Props {
	title?: string;
	description?: string;
	url?: string;
	image?: string;
	seotitle?: string;
}

const { 
	title="ARTIJO • BLOG - บันทึกของไอ้อาร์ต",
	description="บันทึกเรื่องราว เทคโนโลยี ชีวิตประจำวัน บ่นไปเรื่อย หรือบันทึกที่อยากบันทึก ตามอารมณ์ของไอ้อาร์ต",
	url="https://blog.artijo.com",
	image="https://r2.artijo.com/2023/06/Cover-Social.webp",
	seotitle="ARTIJO • BLOG - บันทึกของไอ้อาร์ต"
 } = Astro.props;
---

<!doctype html>
<html lang="th">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<script defer src="/js/mode.js"></script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="stylesheet" href="/fonts/LineSeed/font.css">
		<link rel="stylesheet" href="/fonts/chulabhornlikit/font.css">
		<script defer src="/js/script.js"></script>
		<script defer src="https://eu.umami.is/script.js" data-website-id="cc54056d-2bdf-48d4-a6a2-73fcd909388d"></script>
		<script defer src="https://stats.artijo.com/script.js" data-website-id="6a5ed2e2-7d25-45d8-939a-733232a4a20a"></script>
		<meta name="robots" content="noarchive,max-snippet:-1,max-image-preview:large,max-video-preview:-1">
		<meta name="description" content="บันทึกเรื่องราว เทคโนโลยี ชีวิตประจำวัน บ่นไปเรื่อย หรือบันทึกที่อยากบันทึก ตามอารมณ์ของไอ้อาร์ต">
		<meta name="theme-color" content="#020617">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="th_TH">
		<meta property="og:site_name" content="ARTIJO • BLOG">
		<meta property="og:title" content={seotitle}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={url}>
		<meta property="og:image" content={image}>
		<meta property="og:image:width" content="1920">
		<meta property="og:image:height" content="1080">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@artijo_">
		<meta name="twitter:title" content={seotitle}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>
		<meta name="google-site-verification" content="3EHPc2mN0TiOKbyCWqJiXQDwuuhQchyiT-OMceoKRng">
		<ViewTransitions />
	</head>
	<body class="min-h-screen bg-slate-100 dark:bg-slate-950 antialiased relative">
		<a href="#main" class="skip">Skip to main content</a>
		<Header /> 
		<main id="main" class="lg:pt-[100px] pt-[90px] md:pt-[120px] sm:px-[16px] pb-[125px] sm:pb-[90px]">
			<slot />
		</main>
		<Footer />
		<script defer src="/js/swMode.js"></script>
	</body>
</html>

<style>
	.skip {
		position: absolute;
		top: -40px;
		left: 0;
		padding: 10px 20px;
		z-index: 100;
	}
	.skip:focus {
		top: 0;
	}
	.skip:focus-visible {
		top: -40px;
	}
	.skip:focus:not(:focus-visible) {
		top: -40px;
	}
</style>